$red: #ef483a
    
*
    box-sizing: border-box
    // overflow-x: hidden
    

body
    margin: 0 !important
    padding: 0
    font-family: "GothamProMedium", sans-serif

.container 
    width: 1170px
    margin: 0 auto


a,
img,
button,
select
    cursor: pointer
    outline: none
    border: none

button
    padding: 10px 30px
    border-radius: 10px
    color: #fff
    background-color: #4e5057
    font-size: 18px
    z-index: 10000


ul
    list-style-type: none
a
    color: #fff
    text-decoration: none
a:hover
    color: $red

.btn-red:hover
    color: $red
    background: #131313

.btn-dark:hover
    color: #131313
    background: $red

hr
    height: 1px
    border: none
    background-color: #5c5c5c

.active
    color: $red !important

.btn
    display: flex
    max-width: 270px
    margin: 70px auto
    padding: 10px 50px
    box-shadow: 0 0 27px rgba(213, 62, 62, 0.29)
    border-radius: 10px
    background-color: $red
    color: #ffffff
    font-size: 18px
    font-weight: 700
    line-height: 48px
    border: none
    
    &-b
        background-color: #131313

.descr-o
    color: $red

// страница заглушка начало
.underway
    background: url('../img/underway/underway.png') center
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    &-center
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        &__h1
            margin-top: 40px
            color: #fff
            font-size: 36px
            font-weight: 700
            line-height: 48px
        &__p
            max-width: 740px
            color: #ffffff
            font-size: 20px
            line-height: 30px
            text-align: center
    &-bottom
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        position: absolute
        bottom: 5%
        &__h2
            color: #fff

// страница зашлушка конец



@import 'header'
@import 'new-stickers'
@import 'sticker-pack'
@import 'adventures'
@import 'partner'
@import 'footer'

@import 'shop'
@import 'basket'
@import 'media'
@import 'choice'